<div class="footer-container footer-typography">
    <mat-grid-list cols="7" rowHeight="6rem">
        <mat-grid-tile colspan="2" rowspan="1">
            <span>
                <mat-icon>groups</mat-icon>
            </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <div>
                <h2>Meeting Room Manager</h2>
                <div class="footer-links">
                    <a mat-button href="https://www.linkedin.com/in/santosflavio/">
                        <fa-icon [icon]="icons.brand.faLinkedin" size="2x"></fa-icon>
                    </a>
                    <a mat-button href="https://github.com/flaviogds">
                        <fa-icon [icon]="icons.brand.faGithub" size="2x"></fa-icon>
                    </a>
                    <a mat-button href="https://github.com/flaviogds/meeting_angular">
                        <fa-icon [icon]="icons.solid.faCodeBranch" size="2x"></fa-icon>
                    </a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div>
                <p>Application developed by Flávio Santos.</p>
                <p>This app compose a series of varios application in Angular, consult the project repositoy in github for more information</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>