.page-title {
  display: flex;
  padding: 0.2rem 1rem;
  background-color: rgb(40, 167, 57);
  color: white;
}

.page-title-control {
  width: fit-content;
  display: flex;
  align-items: center;
}

.page-title-control h1 {
  margin: 0;
  margin-right: 2rem;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.meeting-container {
  width: 100%;
  min-height: calc(100% - 10rem);
}

.new-meeting {
  display: grid;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.new-meeting h4 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}