<div class="page-title">
    <div class="page-title-control">
        <h1>Meeting</h1>
        <button *ngIf="(data.length>0)" mat-raised-button (click)="createRoom()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <span class="spacer"></span>
    <meeting-search (byDate)="searchByDate($event)"></meeting-search>
</div>

<div class="meeting-container">
    <div *ngIf="!(data.length>0)" class="new-meeting">
        <h4>New Meeting</h4>
        <button mat-fab color="primary" (click)="createRoom()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <meeting-table
        *ngIf="(data.length>0)"
        [data]="data"
        (edit)="editRoom($event)">
    </meeting-table>
</div>