<div class="serch-form">
    <mat-form-field color="accent">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="searchForms" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="searchForms.controls.start.invalid">
            {{getErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <button mat-button (click)="search()">
        <mat-icon>search</mat-icon>
    </button>
</div>